SERVER_PORT=8080
DB_URL=jdbc:mysql://localhost:3306/hexagonal
DB_USERNAME=root
DB_PASSWORD=tu_password
DDL_AUTO=update
SHOW_SQL=true
JWT_SECRET=ZGVtb19oZXhhZ29uYWxfand0X3NlY3JldF9rZXlfZm9yX2NsYXNzXzIwMjY=
JWT_EXPIRATION_MS=3600000
